<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    
    <link rel="stylesheet" href="/css/popup-modal.css">
    <link rel="stylesheet" href="/css/admin-profile.css">
   <!-- FILEPOND -->
   <link href="https://unpkg.com/filepond@^4/dist/filepond.css" rel="stylesheet" />
   <link
       href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
       rel="stylesheet"
   />
   <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
   <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
   <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
   <script defer src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
   <script defer src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-md">
            <a href="/admin/dashboard" class="navbar-brand"><h2>BiyaHeroes</h2></a>

            <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-label="Toggle Navigation">

            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav ms-auto">

                    <li>
                        <a class="nav-link" href="/admin/complaints">Complaints</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/admin/missing">Missing Items</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/admin/TODA">TODA</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/admin/drivers">Drivers</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/admin/newAdmin">Admins</a>
                    </li>

                    <li>
                        <a class="nav-link active" href="/admin/profile">Profile</a>
                    </li>

                    <li>
                        <a class="nav-link logout" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="banner">
            <h2>Profile</h2>
        </div>
    </header>

    <section class="container">
        <% adminDetails.forEach(admin =>{%> 
            <div class="row my-5">
                <div class="img-container col-md-4 d-flex flex-column align-items-center">
                    <h5>Profile Photo</h5>

                    <form method="post" action="/admin/profile/<%= admin.id %>?_method=PATCH" id="myform">
                        <input type="file" class="filepond" id="profile" name="profile">
                    </form>
                    
                    <img class="image-placehoder profileImage" id="profileImage" src="<%= admin.profileImagePath %>" alt="">
    
                    <div class="filepond-controllers">
                        <small id="edit-profile">Edit</small>
    
                        <div class="hidden-btns">
                            <button type="submit" id="save" form="myform">Save</button>
                            <button id="cancel">Cancel</button>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-8">
                    <div class="header">
                        <h5>Personal Information</h5>
                        <small id="edit-personal">Edit</small>
                    </div>
    
                    <div class="profile-item">
                        
                        <p class="user-info deets" id="full-name"><span>Name: </span> <%= admin.fname %> <%= admin.lname %></p>
                    </div>
                    <div class="profile-item">
                        <p class="user-info deets" id="full-name"><span>Role: </span><%= admin.role %></p>
                    </div>
    
                    <div class="header">
                        <h5>Account Information</h5>
                        <small id="edit-acc">Edit</small>
                    </div>
    
                    <div class="profile-item">
                        <p class="user-info" id="phone-num"><span>Phone: </span>+63<%= admin.phone %> </p>
                    </div>
    
                    <div class="profile-item">
                        <p class="user-info" id="email"><span>E-mail: </span><%= admin.email %> </p>
                    </div>
    
                    <div class="profile-item password-field">
                        <div></div>
                        <small id="change-pass-btn">Change Password?</small>
                    </div>
                </div>
            </div>
            <input type="hidden" value="<%= admin.profileImagePath %> " id="dataUrl">
        
        
    </section>

    <!-- POPUPS -->

    <div class="popup-box" id="personal-popup">

        <img src="/images/x-lg.svg" alt="" class="close-popup-btn close">

        <h5>Personal Information</h5>
        <form method="post" action="/admin/profile/<%= admin.id %>?_method=PATCH">
            <input type="text" name="fname" id="first-name" placeholder="First Name" value="<%= admin.fname %> " class="form-control" required>
            <input type="text" name="lname" id="last-name" placeholder="Last Name" value="<%= admin.lname %> " class="form-control" required>
            
            <button type="submit" class="btn btn-primary" id="btn">Save Changes</button>
        </form>
    </div>

    <div class="popup-box" id="account-popup">

        <img src="/images/x-lg.svg" alt="" class="close-popup-btn close">

        <h5>Account Information</h5>
        <form method="post" action="/admin/profile/<%= admin.id %>?_method=PATCH" onsubmit="return ValidateNum()">
            
            <input type="email" name="email" id="email" placeholder="Email" class="form-control" value="<%= admin.email %>" required>
            <input type="number" name="phone" id="phone" placeholder="Phone Number" class="form-control" value="<%= admin.phone %>" required>
            
            <button type="submit" class="btn btn-primary" id="btn">Save Changes</button>
        </form>
    </div>

    <div class="popup-box" id="password-popup">

        <img src="/images/x-lg.svg" alt="" class="close-popup-btn close">

        <h5>Change Password</h5>
        <form method="post" action="/admin/profile/<%= admin.id %>?_method=PATCH">
            <input type="password" name="currentPass" id="current-pass" placeholder="Current Password" class="form-control" required>
            <input type="password" name="newPass" id="new-pass" placeholder="New Password" class="form-control" required>
            <input type="password" name="verifiedNewPass" id="retype-pass" placeholder="Re-type Password" class="form-control" required>

            <button type="submit" class="btn btn-primary" id="btn">Save Changes</button>
        </form>
    </div>
    <% }) %>
    <div id="page-mask"></div>

    <footer>
        <p>Commuters' Reports Management System</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="/js/admin-edit-profile.js"></script>
    <script src="/js/editAdminProfileInfo.js"></script>
</body>
</html>