<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admins</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/admin-new-admin.css">
    <link rel="stylesheet" href="/css/popup-modal.css">

</head>

<body>
    <header>

        <nav class="navbar navbar-expand-md">
            <a href="/SA/dashboard" class="navbar-brand"><h2>BiyaHeroes</h2></a>

            <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-label="Toggle Navigation">
            
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav ms-auto">

                    <li>
                        <a class="nav-link" href="/SA/complaints">Complaints</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/SA/missing">Missing Items</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/SA/TODA">TODA</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/SA/drivers">Drivers</a>
                    </li>

                    <li>
                        <a class="nav-link active" href="/SA/newAdmin">Admins</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/SA/profile">Profile</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/SA/logs">Logs</a>
                    </li>

                    <li>
                        <a class="nav-link logout" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="banner">
            <h2>Admins</h2>
        </div>
    </header>

    <h5 id="add-admin">Add New Admin?</h5>

    <section>

        <div class="grid">

            <% adminList.forEach(admin => { %> 
                
                <div class="grid-item item-one">
                    
                    <div ><img class="profile" src="<%= admin.profileImagePath %>" alt=""></div>
                    <p class="name"><%= admin.fname %> <%= admin.lname %></p>
                    <p class="position"><%= admin.role %></p>
                    
                    <form method="post" action="/SA/newAdmin/<%= admin.id %>?_method=PATCH">
                    <button type="submit" class="btn btn-outline-primary mb-2">Terminate Account</button>
                    </form>
                </div>
                
            <% }) %> 
    
        </div>
        
    </section>

    <div class="popup-box" id="add-admin-popup">

        <img src="/images/x-lg.svg" alt="" class="close-popup-btn close">

        <h5>Add New Admin</h5>
        <form method="post" action="/SA/newAdmin">
            <input type="text" name="fname" id="fname" placeholder="First Name" class="form-control" required>
            <input type="text" name="lname" id="lname" placeholder="Last Name" class="form-control" required>
            <select class="form-control" name="position" id="">
                <option value="Admin">Admin</option>
                <option value="Super Admin">Super Admin</option>
            </select>
            <input type="email" name="email" id="new-email" placeholder="Email" class="form-control" required>
            <input type="password" name="password" id="new-password" placeholder="Password" class="form-control" required>

            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
    </div>

    

    <div id="page-mask"></div>

    <footer>
        <p>Commuters' Reports Management System</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="/js/add-member.js"></script>
</body>
</html>