<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODA</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/toda.css">
    <link rel="stylesheet" href="/css/popup-modal.css">

    
</head>

<body >

    <header>

        <nav class="navbar navbar-expand-md">
            <a href="/SA/dashboard" class="navbar-brand"><h2>BiyaHeroes</h2></a>

            <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#toggleMobileMenu"
            aria-controls="toggleMobileMenu"
            aria-expanded="false"
            aria-label="Toggle Navigation">

            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="toggleMobileMenu">
                <ul class="navbar-nav ms-auto">

                    <li>
                        <a class="nav-link" href="/SA/complaints">Complaints</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/SA/missing">Missing Items</a>
                    </li>

                    <li>
                        <a class="nav-link active" href="/SA/TODA">TODA</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/SA/drivers">Drivers</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/SA/admins">Admins</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/SA/profile">Profile</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/SA/logs">Logs</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/SA/maintenance">Maintenance</a>
                    </li>


                    <li>
                        <a class="nav-link logout" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="banner">
            <h2>TODA</h2>
        </div>
    </header>

    <section class="container">

    <div class="table-controllers">
        <div class="sort-search">
            <label for="search">Search</label>
            <input type="text" name="search" id="search" placeholder="Search" onkeyup="tableSearch()">
        </div>

        <div class="btns">
            <button class="btn btn-primary btn-sm" id="upload">Upload</button>
            <button class="btn btn-outline-primary btn-sm add-btn" id="add">Add</button>
        </div>
    </div>

        <table class="table table-hover text-center" id="table">
            <thead>
                <tr>
                    <th>TODA</th>
                    <th>President</th>
                    <th>Contact #</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                <% todaList.forEach(toda =>{ %> 
                    
                    <tr onclick="editTODAInfo(this)">
                        <th scope="row" data-label="TODA"><%= toda.TODA %></th>
                        <td class="TODA-data" data-label="President"><%= toda.presidentfname %> <%= toda.presidentlname %></td>
                        <td class="TODA-data" data-label="Contact">+63<%= toda.contact %></td>
                        <td class="TODA-data" data-label="Contact" style="display: none;" >
                            <%= toda.id %>
                        </td>
                        <td data-label="Edit">
                            <input type="image" src="/images/edit.svg" class="table-btn edit-btn-toda">
                            
                        </td>
                        <form method="post" action="/SA/TODA/<%= toda.id %>?_method=PATCH">
                            <td data-label="Delete">
                                
                            <input type="image" src="/images/trash.svg" class="table-btn delete-btn">
                               
                            </td>
                        </form>
                        
                    </tr>
                <% }) %> 
            </tbody>
        </table>
    </section>

    <div class="popup-box" id="add-popup">

        <img src="/images/x-lg.svg" alt="" class="close-popup-btn close">

        <h5>TODA</h5>
        <form method="post" action="/SA/TODA/new" onsubmit="return ValidateNumAdd()">
            <input type="text" name="toda" id="add-toda" placeholder="TODA Name" class="form-control" required>
            <input type="text" name="fname" id="add-pres-fname" placeholder="TODA President First name" class="form-control" required>
            <input type="text" name="lname" id="add-pres-lname" placeholder="TODA President Last name" class="form-control" required>
            <input type="number" name="contact" id="add-pres-contact" placeholder="Contact Number" class="form-control" required>

            <button type="submit" id="submit-toda-btn" class="btn btn-primary">Save Changes</button>
        </form>
    </div>

    <div class="popup-box" id="upload-popup">

        <img src="/images/x-lg.svg" alt="" class="close-popup-btn close">

        <h5>Upload</h5>
        <form action="/SA/TODA" method="post" enctype="multipart/form-data">
            <input type="file" name="excel" id="excel" class="form-control" required>

            <button type="submit" id="upload-excel" class="btn btn-primary">Save Changes</button>
        </form>
    </div>

    <div class="popup-box" id="edit-popup">

        <img src="/images/x-lg.svg" alt="" class="close-popup-btn close" onClick="window.location.reload();">

        <h5>Edit</h5>
        <form method="post" action="/SA/TODA/edit?_method=PATCH" onsubmit="return ValidateNum()">
            <input type="hidden" id="toda-id" name="todaid">
            <input type="text" name="firstname" id="edit-TODA-pres-firstname" placeholder="First Name" class="form-control" required>
            <input type="text" name="lastname" id="edit-TODA-pres-lastname" placeholder="Last Name" class="form-control" required>
            <select class="form-control" name="toda">
                <% todaList.forEach(toda =>{ %> 
                <option value="<%= toda.TODA %>"><%= toda.TODA %></option>
                <% }) %> 
            </select>
            <input type="text" name="contact" id="edit-TODA-contact" placeholder="Contact Number" class="form-control" required>

            <button type="submit" class="btn btn-primary" id="btn">Save Changes</button>
        </form>
    </div>
    <div id="page-mask"></div>

   

    <footer>
        <p>Commuters' Reports Management System</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <!-- <script src="/js/admin-toda.js"></script> -->
    <script src="/js/editInfo_copy.js"></script>
    <script type="module" src="/js/a-toda.js"></script>
    <script src="/js/search.js"></script>
   
    
    
    
</body>
</html>